@import 'normalize-scss';
@include normalize();
@import './_vars.scss';

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  font-family: Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: $text;
  background-color: #e5e5e5;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
li {
  margin: 0;
  padding: 0;
  display: inline-block;
}
p,
h1,
h2,
h3,
blockquote {
  margin: 0;
}
a {
  display: inline-block;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}
button {
  border: none;
  background: transparent;
  cursor: pointer;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
}
img {
  max-width: 100%;
  height: auto;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.text-big {
  font-weight: bold;
  font-size: 16px;
}
